
body{
 text-align: center;
 font-size:medium;
}
#button{
  font-size: x-large;
  border-radius: 10px;
      background-color: rgb(218, 199, 199);

}
#query{
  font-size: x-large;
    border-radius: 10px;
    background-color: antiquewhite;

}
form {
  position: fixed;
  bottom: 15px;
  right: 40%;
  
}
#response{
  font-size: medium;
  font-weight: 700;

}
.user-div {
  text-align: left;
  background-color: #d0f0c0;
  
  
}
.bot-div {
 text-align:right;
  background-color: #e0e0e0;
 
}